<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="YardenCarRentEntities" connectionString="metadata=res://*/YardenCarRentEntities.csdl|res://*/YardenCarRentEntities.ssdl|res://*/YardenCarRentEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=YITZHAKI-PC\SQLEXPRESS;initial catalog=YardenCarRent;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>