<div class="headers">
    <h2>Car Returns</h2>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Car Number</th>
            <th>Car Manufacturer</th>
            <th>Car Model</th>
            <th>Year</th>
            <th>Gear Type</th>
            <th>Pick-Up Date</th>
            <th>Return Date</th>
            <th>Actual End Date</th>
            <th>Daily Cost</th>
            <th>Daily Late Cost</th>
            <th>UserName</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in allOpenOrders">
            <td>{{$index + 1}}</td>
            <td>{{item.CarNumber}}</td>
            <td>{{item.CarManufactureName}}</td>
            <td>{{item.CarModelName}}</td>
            <td>{{item.Year}}</td>
            <td>{{item.GearTypeName}}</td>
            <td>{{item.StartDate|date:"MM.dd.yyyy"}}</td>
            <td>{{item.DesiredEndDate|date:"MM.dd.yyyy"}}</td>
            <td><input class="form-control" id="actualEndDate" ng-model="actualEndDate" name="date" placeholder="MM/DD/YYY" type="date" format="MM/DD/YYY" required /></td>
            <td>{{item.DailyCost|currency:"$":0}}</td>
            <td>{{item.DailyLateCost|currency:"$":0}}</td>
            <td>{{item.UserName}}</td>
            <td><button class="btn btn-primary" name="submit" ng-click="returnCar(item)" type="submit">Return This Car</button></td>
        </tr>
    </tbody>
</table>
<div id="successModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="alert alert-dismissible alert-success">
                    <strong>Success!</strong> The car was returned successfully!
                </div>
            </div>
        </div>
    </div>
</div>
<div id="errorModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger">
                    <strong>Error!</strong> Operation failed!
                </div>
            </div>
        </div>
    </div>
</div>

